body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#wrapper {
    background-color: #E06853;
    width: 100%;
}

#content {
    background-color: #E06853;
    width: 100%;
}

#header {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

#topbar,
.active {
    background-color: #E59A8E;
}

#topbar p {
    margin: 5px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

#navigation {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-top: 32px;
}

#navigation ul {
    list-style-type: none;
    padding: 0 20px 0 0;
    margin: 0;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
}

#navigation ul li {
    display: inline-block;
    border: 1px solid #000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    padding: 0px 0 15px;
    min-width: 90px;
}

#navigation a {
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

#billboard {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-areas: 1fr;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)), url(images/banner-pic.jpg);
    background-size: 100%;
}

#billboard-text img {
    max-width: 300px;
    filter: invert(1);
}

#section-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#menu-link,
#contact-link {
    text-align: center;
}

#menu-link {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)), url(images/menu.jpeg);
    background-size: 100%;
    background-position-y: center;
    padding: 40px 0;
    color: #fff;
}

#menu-link p {
    margin-bottom: 20px;
}

#menu-link button,
#contact-link button,
.dish button,
.submit {
    height: 40px;
    width: 100px;
    background-color: #E06853;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

#contact-link {
    padding: 40px 0;
}

#about-us {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(images/about.jpg);
    background-size: 100%;
    background-position-y: center;
    padding: 40px 0;
    text-align: center;
    color: #fff;
}

#footer {
    text-align: center;
    padding-bottom: 10px;
}

#footer a {
    color: #fff;
    text-decoration: none;
}

/* MENU PAGE */

#billboard h1 {
    color: #fff;
}

.menu #billboard {
    padding: 40px 0;
}

#dishes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-bottom: 2px solid #000;
    padding: 10px 0;
    margin-bottom: 30px;
}

.dish,
.contact-info {
    padding: 40px 0;
    color: #fff;
    text-align: center;
}

.beef {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(images/beef.jpg);
    background-size: 100%;
}

.eggplant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(images/eggplant.jpg);
    background-size: 100%;
}

.seafood {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(images/seafood.jpg);
    background-size: 100%;
}

.apple {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(images/apple.jpg);
    background-size: 100%;
}

/* CONTACT US */

#contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid #000;
    padding: 10px 0;
    margin-bottom: 30px;
}

.address {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(images/apple.jpg);
    background-size: 100%;
}

form {
    width: 200px;
    margin: 0 auto;
    text-align: left;
}

form input {
    height: 25px;
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    margin-top: 5px;
}

form textarea {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
}